.center {
    position: relative;
    display: inline-block;
    margin-left: 6%;
    margin-top: 1.5%;
}

#test {
    background: #111;
    color: #111;
    font-family: "Amatic SC";
    text-shadow: 2px 2px 3px #38e;
}