.form1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mb-3{
    width: 350px;
}

.formLabel{
    font-size: 13px;
    color: grey;

}

.text-muted{
    margin-bottom: 10px;
}